@font-face {
	font-family: Go Mono;
	src: url(/font/go-mono/Go-Mono.ttf);
}

@font-face {
	font-family: Go Mono;
	src: url(/font/go-mono/Go-Mono-Bold.ttf);
	font-weight: bold;
}
@font-face {
	font-family: Go Mono;
	src: url(/font/go-mono/Go-Mono-Italic.ttf);
	font-style: italic;
}
@font-face {
	font-family: Go Mono;
	src: url(/font/go-mono/Go-Mono-Bold-Italic.ttf);
	font-weight: bold;
	font-style: italic;
}

body {
	background: #444444;
	color: white;
	font-family: Go Mono, monospace;

	margin-top: 4em;
	padding: 0 4em;
}

header {
	font-size: 28pt;
	font-weight: bold;
	text-align: right;

	margin-bottom: 2em;
}

main {
	box-sizing: border-box;
	width: auto;
}

h1.tema-h {
	font-weight: bold;
	font-style: italic;
	font-size: 20pt;
	text-align: center;

	margin-bottom: 2em;
}

section {
	border-top: 2px dashed black;
	padding: 2em;
}

.grid-con {
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-gap: 1em;
}

.caja-tarea {
	height: auto;
	box-sizing: border-box;
	padding: 0;
	border: solid black 1px;
	
	text-align: center;

	box-shadow: black 5px 5px;
}

.caja-tarea:hover {
	background: #141414;
}

.caja-tarea > a {
	color: cyan;
	text-decoration: none;
}

.enl-tarea {
	padding: 5em;
}