body {
	background: #282828;
	color: #EEEEEE;
}

h1, .blue-text {
	color: cyan;
}

ul li {
	background-color: tomato;
}

.green-border {
	border: 1px solid lime;
}

dt {
	font-weight: bold;
}

dd {
	font-style: italic;
}